@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@100;200;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Manrope:wght@200..800&display=swap');
html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
  background: black !important;
  overflow: hidden !important;
}

.title {

font-size: 76px;
 font-family: "Cardo", serif;
  font-weight: 300;
  font-style: normal;
  color: white;
  position: fixed;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
}

.wk {
 font-family: "Cardo", serif;
  font-weight: 300;
  font-style: normal;
  color: rgb(190, 188, 188);
font-size: 30px;

}

.pic{

position: absolute;
height: 425px;
width: auto;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.wk li {
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.wk li:hover {
  color: rgba(255, 42, 0, 0.605);
}

.home{

 font-family: "Cardo", serif;
  font-weight: 300;
  font-style: normal;
  color: white;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 31px;

}
